.whyMiss_content {
    padding   : 10em 0;
    position  : relative;
    width     : 1220px;
    margin    : 0 auto;
    transition: 0.5s;
    color     : var(--purple-color);
    box-sizing: border-box;
    overflow  : hidden;

    section {
        padding: 10em 0;
    }


    .textArea {
        width: 50%;

        .fontLarge {
            font-size  : var(--font-large);
            font-family: 'Sigmar One', 'Roboto', sans-serif;
            line-height: 1.2;
        }

        .fontMicro {
            margin   : 2rem 0;
            font-size: var(--font-small);
        }

        button {
            border-radius   : 10px;
            padding         : var(--padding) 2rem;
            background-color: var(--purple-color);
            color           : var(--white-color);
            text-transform  : uppercase;
        }
    }

    .content1,
    .content3 {
        .content_inner {

            .textArea {
                margin    : 0 auto;
                text-align: center;
            }
        }
    }

    .content2 {
        margin-top: 20em;

        .content_inner {
            display       : flex;
            flex-direction: column-reverse;

            .textArea {
                margin-top     : 5em;
                width          : 100%;
                text-align     : center;
                display        : flex;
                flex-direction : row;
                justify-content: space-between;
                align-items    : center;

                .textArea_box {
                    padding   : var(--padding);
                    width     : calc(100%/3);
                    box-sizing: border-box;

                    .icon {
                        margin           : 0 auto;
                        width            : 120px;
                        height           : 120px;
                        background-size  : cover;
                        background-repeat: no-repeat;
                    }

                    &:nth-of-type(1) .icon {
                        background-image: url(../img/icon1.png);
                    }

                    &:nth-of-type(2) .icon {
                        background-image: url(../img/icon2.png);
                    }

                    &:nth-of-type(3) .icon {
                        background-image: url(../img/icon3.png);
                    }
                }
            }

            .imgArea {
                position        : relative;
                width           : 560px;
                height          : 560px;
                background-color: var(--yellow-light-color);
                border-radius   : 50%;
                margin          : 0 auto;
                text-align      : center;


                &::before {
                    content          : "";
                    position         : absolute;
                    top              : -70%;
                    left             : -50%;
                    display          : inline-block;
                    width            : 170px;
                    height           : 170px;
                    background-image : url(../img/image68.png);
                    background-repeat: no-repeat;
                    background-size  : cover;
                }

                &::after {
                    content          : "";
                    position         : absolute;
                    top              : -70%;
                    right            : -50%;
                    display          : inline-block;
                    width            : 111px;
                    height           : 170px;
                    background-image : url(../img/image69.png);
                    background-repeat: no-repeat;
                    background-size  : cover;
                }

                .img {
                    margin-top    : -200px;
                    text-align    : center;
                    display       : flex;
                    flex-direction: column;
                    align-items   : center;
                    transition    : 0.5s;

                    img {
                        margin: 1em 0;
                    }

                }

                .top {
                    width : 522px;
                    height: 261px;
                }

                .middle {
                    width : 435px;
                    height: 282px;
                }

                .bottom {
                    width : 370px;
                    height: 163px;
                }

            }
        }
    }

    .content3 {
        margin-bottom: 20em;

        .content_inner {
            .textArea {
                position: relative;

                &::before {
                    content          : "";
                    position         : absolute;
                    top              : 0;
                    left             : 0;
                    display          : inline-block;
                    width            : 59px;
                    height           : 55px;
                    background-image : url(../img/image35.png);
                    background-repeat: no-repeat;
                    background-size  : cover;
                }

                &::after {
                    content          : "";
                    position         : absolute;
                    top              : 20%;
                    right            : 5%;
                    display          : inline-block;
                    width            : 46px;
                    height           : 60px;
                    background-image : url(../img/image40.png);
                    background-repeat: no-repeat;
                    background-size  : cover;
                }
            }
        }

    }

}

//tablet
@media screen and (max-width:$tablet) {}

//cellphone
@media screen and (max-width:$cellphone) {

    .whyMiss_content {
        width: 100%;

        .textArea {
            width: 100%;

            .fontLarge {
                font-size: var(--font-m-large);
            }
        }

        .content2 {
            .content_inner {
                .imgArea {
                    width : 100%;
                    height: 100%;

                    .img {
                        img {
                            width : 100%;
                            height: auto;
                        }
                    }

                    &::before {
                        left: 0;
                    }

                    &::after {
                        right: 0;
                    }
                }

                .textArea {
                    flex-direction: column;

                    .textArea_box {
                        width: 100%;
                    }
                }
            }
        }

        .content3 {
            margin-bottom: 0;

            .content_inner {
                .textArea {

                    .fontLarge {
                        font-size: var(--font-m-medium);
                    }
                }
            }
        }
    }
}